[package]
name = "client"
version = "0.1.0"
edition = "2024"

[dependencies]
bevy = "0.17"
noise = "0.9.0"
shared = { version = "0.1.0", path = "../shared" }
tokio = { version = "1.48.0", features = ["full"] }
