[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
bevy = "0.17"
tokio = { version = "1.48.0", features = ["full"] }
voxel-world = { version = "0.1.0", path = "../voxel-world" }
